.gov-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    height:34px;
    overflow:hidden;
}

.admin-bar .gov-header{
    top: 32px;
}

.gov-header .barra_boot_portal_azores_gov_pt{
    overflow: hidden;
}

@media screen and (max-width: 782px){
    .admin-bar .gov-header {
        top: 46px;
    }
}